.card-game{
    position: relative;
    height: 160px;
    width: 110px;
    cursor: pointer;
}

.card-game div{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: .5s;
}
.card-img{
    padding: 20px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.front{
    background-color: rgb(48, 48, 88);
    transform: perspective(700px) rotateY(0deg);
}

.back{
    background-color: rgb(255, 255, 255);
    transform: perspective(700px) rotateY(180deg);
    border: 5px dashed black;
}

.front-active{
    transform: perspective(700px) rotateY(180deg);
}

.back-active{
    transform: perspective(700px) rotateY(360deg);
}


.front-fijo{
    outline: 2px solid rgb(42, 219, 42);
    transform: perspective(700px) rotateY(180deg)!important;
}

.back-fijo{
    outline: 2px solid rgb(42, 219, 42);
    transform: perspective(700px) rotateY(360deg)!important;
}

